<h1>List index page</h1>

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>

<%= form_for @new_list do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "add list" %>
<% end %>
